.example-card {
    max-width: 400px;
  }
  
  .example-header-image {

    background-size: cover;
  }
  mat-card {
      margin: 0 auto;
      background-color: #1c1c1c;
      color: #ffff;
  }  

  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  button{
    margin: 0;
  }