<p>
  <mat-toolbar>
  <span>News Site</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/news']" routerLinkActive="router-link-active"  mat-menu-item>
      <mat-icon><span class="material-icons-outlined">
        home
        </span></mat-icon>
      <span>Home</span>
    </button>
  </mat-menu>
  
</mat-toolbar>
</p>

<img width="100%" height="auto" src="../../assets/img/marco-lenti-19CYdO70ss4-unsplash.jpg" alt="img nyt">

<div class="my-5" style="text-align: center;">
  
  <h1><i> "Non tutto ciò che è vero deve essere detto, ma tutto ciò che è detto deve essere vero "</i></h1>
</div> 

<mat-card *ngFor="let item of nytNews.articles" class="example-card my-5">
    <img mat-card-image src="{{item.urlToImage}}" alt="Foto Articolo..">
    <mat-card-content>
      <mat-card-title style="font-size: 1.3rem;">{{item.title}}</mat-card-title>
      <p>
       {{item.description}}...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a style="text-decoration: none; color: white;" href="{{item.url}}"><button mat-button>LEGGI</button></a>
      <button mat-button>CONDIVIDI</button>
    </mat-card-actions>
  </mat-card>
