
<p>
  <mat-toolbar>
  <span>News Site</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/newyorktimes']" routerLinkActive="router-link-active"  mat-menu-item>
      <mat-icon><span class="material-icons-outlined">
        article
        </span></mat-icon>
      <span>New York Times</span>
    </button>
  </mat-menu>
  
</mat-toolbar>
</p>