html{
  padding: 0;
}
body{
  padding: 0;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {

    background-size: cover;
  }
  mat-card {
      margin: 0 auto;
      background-color: #1c1c1c;
      color: #ffff;
  }  
#newsItalia{
    text-align: center;
}

#newsItalia span{
  color: darkred;
  font-size: 1.8rem;
  font-family: 'Style Script', cursive;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

table{
  margin: 0 auto;
}








@media screen and (min-width: 700px){
    .video{
        padding-bottom: 100px;
    }
}
