<app-navbar></app-navbar>


  <video autoplay style="margin-top: 0px;" width="100%" height="auto" src="../../assets/video/Pexels Videos 2675508 (1).mp4"></video>

<section style="text-align: center;" class="container my-5">
  <h2>Resta sempre aggiornato con News Site</h2>
</section>


<section class="container">
  <table class="example-full-width container" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Stato</mat-label>
          <input [(ngModel)]="stato" matInput placeholder="Ex. us">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Categoria</mat-label>
          <input [(ngModel)]="categoria" matInput placeholder="Ex. sport">
        </mat-form-field>
      </td>

      <td>

      </td>
    </tr>
  </table>
  <div style="text-align: center;">
    <button class="btn btn-dark" style="text-align: center;" (click)="cercaNews()"> Cerca</button>
  </div>
</section>

<mat-card *ngFor="let item of newsItaBusiness.articles" class="example-card my-5">
  <img mat-card-image src="{{item.urlToImage}}" alt="Foto Articolo..">
  <mat-card-content>
    <mat-card-title style="font-size: 1.3rem;">{{item.title}}</mat-card-title>
    <p>
      {{item.description}}...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a style="text-decoration: none; color: white;" href="{{item.url}}"><button mat-button>LEGGI</button></a>
    <button mat-button>CONDIVIDI</button>

  </mat-card-actions>
</mat-card>